<ion-view view-title="Users ({{ onlineUsersCount + awayUsersCount }})">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" 
                    ng-repeat="user in users | orderBy:'name'" 
                    type="item-text-wrap">
                <img src="https://pbs.twimg.com/profile_images/459162733770862592/zEK-azv7.jpeg" ng-if="!user.photo">
                <img ng-src="{{ user.photo }}" ng-if="user.photo">
                <h2>{{ user.name + ' ' + user.lastname }}</h2>
                <i class="icon ion-chevron-right ion-social-apple-outline" ng-if="user.platform === 'ios'"></i>
                <i class="icon ion-chevron-right ion-social-android-outline" ng-if="user.platform === 'android'"></i>
                <p>{{ user.email }}</p>
                <p>
                    <span ng-show="user._status.state == 'foreground'" class="greenLabel">Online</span>
                    <span ng-show="user._status.state == 'background'" class="orangeLabel">Away</span>
                </p>
                <p>{{ user._status.module.name | json }} | {{ user._status.module.params | json }}</p>
                <ion-option-button class="button-positive" ng-click="newMessage(user.userId)">
                    Send Message
                </ion-option-button>
                <!--<i class="icon ion-chevron-right ion-social-apple"></i>

                <ion-option-button class="button-assertive" ng-click="remove(user.data.userId)">
                    Delete
                </ion-option-button>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
